[2020-06-18 16:31] dustinkerstein opened #3 "Trying to get things up and running"
Hey! Very intrigued by your project, and I may have business use for it. But I wanted to get it running on home first. I tried setting up the server on my Windows 10 machine with the input being the Stereo Mix (alternative to Loopback for some soundcards). Sometimes I'm able to get the connection hooked up, but other times I just get an infinite spinner on the root page that says "Connecting..."

[2020-06-22 08:02] geekuillaume commented on #3
Hello Dustin, thanks for opening this issue. You're the first person that I don't personally know that interacted with this project :)
- The error `The AudioContext was not allowed to start` is expected. It is thrown because of a anti-spam protection from the browser that wait for the first interaction with the page (click for example) to start the AudioContext and allow the page to output audio.

[2020-06-22 11:41] geekuillaume commented on #3
I've pushed a new version that should prevent some errors and add error reporting for connection errors. Can you try again @dustinkerstein ?

[2020-06-23 01:07] dustinkerstein commented on #3
Hey! Thanks for getting back to me. Did you upload a new binary? I think I'm seeing the same 0.1.0 version.

I am unable to ping 7d8f8749_3fad_4200_acf1_cc55e4ba51fe-10-0-1-10.sslip.io when the server is running, or any of these addresses:
![image](https://user-images.githubusercontent.com/7659306/85348949-0694d780-b4cb-11ea-9bc3-b934c360e74f.png)

When running the OSX server from the terminal I c

[2020-06-23 09:13] geekuillaume commented on #3
Thanks for helping me with this :) I'm not yet increasing the version number at each build as almost nobody is using this project for now. Once the official beta starts, I'll start increasing the version number for each release.

It seems that your DNS is blocking this entry to a local IP address. To be sure it's because of the DNS, can you use the Network Utility in MacOS to do a lookup of this d

[2020-06-23 11:46] dustinkerstein commented on #3
Interesting. If I manually set my DNS in OSX to 8.8.8.8 I can resolve that address, but if I use my router (DD-WRT) provided DNS (which was already statically set to 8.8.8.8 and 8.8.4.4) it doesn't work. Now the https://soundsync.app loads which is good, but I still appear to get some SSL errors:

[code]

With the latest code I seem to be able to link my mic input to the speaker output and hear au

[2020-06-23 12:21] geekuillaume commented on #3
Good news :) It seems like the dns resolver of OpenWRT prevent DNS rebinding by default (https://openwrt.org/docs/guide-user/base-system/dhcp) but this is necessary to connect to local IP addresses from an external page. This is also why I use this "SSL hack" with this weird domain name and why there are SSL errors (as the server doesn't have any valid certificate). These errors are expected as we

[2020-06-24 08:41] geekuillaume commented on #3
Also @dustinkerstein you can contact me at guillaume+soundsync@besson.co to discuss in private a commercial use of Soundsync

[2020-06-24 13:22] dustinkerstein commented on #3
I was able to get mic audio working in Firefox on OSX. Safari didn't have any useful debug beyond the SSL errors, and Chrome seems to require that user action before allowing audio to play. Here's the full server log during testing several browsers (some working and some non working attempts).

[code]

[2020-06-24 13:24] dustinkerstein commented on #3
And a small (maybe large) feature suggestion for the browser output. It would be awesome to have the ability to output not just to "this current browser" but to a server hosted page that acts solely as a "list only" client with no other controls beyond volume. And further, to have multiple clients be able to connect to that same page and play in sync... That's essentially what I'll be emailing you

[2020-06-25 09:11] geekuillaume commented on #3
Thanks for the log. Because of the missing [AudioWorklet implementation in Safari](https://caniuse.com/#feat=mdn-api_audioworklet), the current way of handling audio doesn't work with Safari. I've added a detection code to prevent showing the sink when the browser isn't supported.

It seems there is not other issues left. I'm closing this. Thanks again !

[2020-06-25 09:11] #3 closed

[2020-06-29 18:48] rosh324 opened #4 "AirPlay from phone to laptop stutters"
I gave the software a test run by seeing if i could airplay from my phone to my headphones through my laptop and I experienced some stuttering in the middle like a CD that had a quick scratch. This may be related to the really high latency play/pause and volume controls had.

The setup was iPhone -> MacBook Pro through AirPlay.

[2020-06-29 21:52] LostSoulfly opened #5 "Can't Add a Spotify Player"
On Windows 10 when I click ``ADD A SPOTIFY PLAYER``, leave everything blank except selecting my Windows PC as the Device and click ``ADD A SPOTIFY PLAYER``, the soundsync executable seems to crash and the tray icon disappears. After restarting it, the same thing happens. When I remove the Spotify entry from the config.json it runs fine again. This also happens when specifying a Spotify account. I'

[2020-06-30 09:33] tonsV2 opened #6 "Build rpm packages"
As the title indicates it would be nice if RPM packages was available

[2020-07-01 08:56] geekuillaume commented on #5
I found the error, I was naming the file `librespot` and trying to execute it but on Windows, the file needs to ends with `.exe` to be executable. I've pushed an update, can you reinstall Soundsync with the last executable (I didn't change the version number) and try again?

[2020-07-01 09:03] geekuillaume commented on #4
@rosh324 I've updated the code related to the audio synchronization to reduce audio glitches. Can you download Soundsync again and try?

[2020-07-01 22:07] rosh324 commented on #4
@geekuillaume How do I build the program? I assume the "download development version" link doesn't link to the latest commit.

[2020-07-02 08:38] geekuillaume commented on #4
@rosh324 I configured Github to build the new development version every time I push a commit. The version number doesn't change but the downloadable binary contains the latest code. You just have to download and install it again.

[2020-07-02 16:51] rosh324 commented on #4
I gave it a try, the issue is definitely much better, the frequency of interruptions is lower and the interruptions themselves are much less noticeable. I do still get at least one per song though.

[2020-07-02 22:24] LostSoulfly commented on #5
Thanks, that seems to have resolved it!

[2020-07-02 22:24] #5 closed

[2020-07-02 22:25] LostSoulfly commented on #5
Awesome project. I haven't figured out how I want to use it yet, but I'll probably wait for windows native audio to be supported in the future. Thanks again!

[2020-07-03 08:26] geekuillaume commented on #4
Okay, thanks. I'm still working on it to get something perfect!

[2020-07-05 13:43] ohhai-kthxbai opened #7 "Doesn't work with firefox"
Hello

I can't seem to get this to work with firefox (even in safe mode), I just get the spinning "connecting" graphic
Works (ish) in Chrome.

Thanks for sharing your work!

[2020-07-07 17:08] geekuillaume commented on #4
@rosh324 can you try again? I improved the behavior when an audio chunk was received out-of-order (which can happen because of the WebRTC DataChannel mode I'm using)

[2020-07-07 17:09] geekuillaume commented on #7
Can you look at the developer console and post a screenshot of what's shown after activating the debug mode? ([instructions here](https://github.com/geekuillaume/soundsync#faq))

[2020-07-07 17:35] rosh324 commented on #4
@geekuillaume Playback is now smooth, but there are some popping artifacts in the audio. I can't test on actual speakers but its definitely noticeable on headphones. It's probably something small in the reassembly. If I'm not mistaken you are converting the audio chunks to a different format that is more universal before pushing to the devices right? Could it have something to do with that process

[2020-07-08 20:10] rcampbel3 opened #9 "compiled on Linux, but can't compile binary"
My system is running Ubuntu 14.04 (yeah, I know it's old, but that doesn't appear to be my issue)

Following build from source instructions:

[code]
emconfigure ./configure --disable-extra-programs --disable-doc --disable-intrinsics --disable-hardening --disable-rtcd --disable-s
tack-protector  <-- this line in readme.md should have **emconfigure** removed from the front of it

[code]

then make..

[2020-07-09 08:45] geekuillaume commented on #9
The `em` prefix before `configure`, `make` and `cc` are needed to use the Emscripten version of these tools. The Opus bindings are compiled for Webassembly to use them from NodeJs. But anyway, these instructions are just necessary if you want to change some specific options for Opus, I already included a compiled Wasm Opus Bindings in the repository [here](https://github.com/geekuillaume/soundsync

[2020-07-10 12:33] dinuchiriacsonos opened #10 "Cannot find module 'electron'"
I'm trying to get SoundSync up and running on a headless raspberry pi.

1. The problem is that there is no documentation about where SoundSync and how or whether I can start it from the command line however it was straightforward to find it in services:
[code]
2. When trying to start it from as a service there is no feedback in the console but when I check the status it says that the service is no

[2020-07-10 13:13] dinuchiriac commented on #10
Update:
It turns out I cannot import electron in `node` at all and that's because npm modules path is different than node `module.paths`.
Here is a quick fix for that, thanks to [stackoverflow](https://stackoverflow.com/questions/13465829/node-js-modules-path):
[code]
However,  taking in consideration that SoundSync is invoked by root,  we need to update root's `.bashrc` as well:
[code]
Now if you

[2020-07-10 14:47] #10 closed

[2020-07-10 14:48] geekuillaume commented on #10
Thanks for taking the time to help me with this. I changed something yesterday that broke this but I've just pushed the fix. Can you try again once the build is finished? (In around 30 minutes for ARM, this is slow :( )

[2020-07-10 15:20] geekuillaume commented on #10
I've just tested it on a headless rPi and it works fine now. @dinuchiriacsonos can you test again and reopen the issue if this is still broken on your end?

[2020-07-13 08:39] dinuchiriac commented on #10
Thanks for quick fix @geekuillaume
I downloaded latest build from the latest `gh-actions`, works well, no issues anymore. Not sure about the release page build, has it been updated?

[2020-07-13 08:47] geekuillaume commented on #10
@dinuchiriac for now I'm not updating the version number, instead I overwrite the assets off the release. I need to configure the auto updater for Electron (which has been one of the biggest reason I used Electron instead of another lighter method of distribution).

[2020-07-13 13:32] geekuillaume commented on #4
@rosh324 I've again improved the whole audio packaging / playback logic to reduce the latency and improve the popping sounds. I've fixed several bugs and I don't hear anything wrong now. Can you download the last build of Soundsync and try again to see if this works well with your setup? Thanks :)

[2020-07-13 22:32] rosh324 commented on #4
@geekuillaume I am having a hard time testing because the menu bar icon to open the controller wont show up. I tried the external soundsync.app website as well and it couldnt find it.

[2020-07-17 14:15] geekuillaume commented on #7
@ohhai-kthxbai Any news? Without a response in 15 days I'll close this issue.

[2020-07-18 12:38] Miksier opened #16 "Cant install deb package on Raspbian, problem with archieve"
Hi. ts a weird issue I think. I installed soundsync on Windows, and tried it also on my raspberry Pi 3B+ but sadly has problems with installing it more specifically with unpacking the package with any method. On windows the same package didnt have any problems with being opened by 7zip. Tried redownloading the file many times but nothing changed.

I've tried with apt-get, gdebi, tried unpacking it

[2020-07-18 14:09] geekuillaume commented on #16
I just tried again on two of my RaspberryPi and it worked fine. Your problem is most likely caused by a corruption during the package download. Can you try downloading it again? I've also added instruction in the Readme about installing Soundsync on a headless Raspberry Pi: https://github.com/geekuillaume/soundsync#faq

[2020-07-18 16:49] Miksier commented on #16
@geekuillaume
Thanks for the answer. Will try again, to infinity and beyond! And good to see a FAQ with service, cool!

[2020-07-18 16:56] Miksier commented on #16
I hate it when I do something 10 times, someone comes and tells me to do it again and now it works.

[2020-07-18 16:56] #16 closed

[2020-07-21 05:46] airdrummingfool opened #17 "RangeError: Source is too large in opus.js"
Hello,
I just downloaded soundsync to play around on my 2012 Macbook Pro and 2012 Mac mini. I opened the app on the mini first, and linked the `Built-in Input` to the `Built-in Output`. Then I opened the app on my MBP and linked the mini's `Built-in Input` to the MBP's `Built-in Output` (so the mini's input was going to both the mini and the MBP's output).

soundsync on the mini almost immediately

[2020-07-21 09:30] geekuillaume commented on #17
I encountered this error yesterday night just when friends arrived at my home, didn't had time to debug it so I switched to Spotify on a single speaker (eating my own dog food 😅). I made a change to the audio resampler yesterday and didn't test it enough. I just pushed a new update with the fix. It has the same version number. Can you try again?

I'm going to separate the relatively stable version

[2020-07-21 13:05] geekuillaume commented on #7
No response, I'm closing. Feel free to reopen this issue if you still encounter this problem.

[2020-07-21 13:05] #7 closed

[2020-07-21 13:05] geekuillaume commented on #9
No response, I'm closing. Feel free to reopen this issue if you still encounter this problem.

[2020-07-21 13:05] #9 closed

[2020-07-22 21:22] airdrummingfool commented on #17
I just tried the new build, and it still crashes. The first time I launched it the error was the same, but the second time the error was a bit different:
[code]

Subsequent launches all crash and show the original `Source is too large` error. There's also some relatively loud, momentary popping/glitch-type noises from my speakers each time it launches.

[2020-07-25 22:36] talastairb opened #18 "error message"
Error: 44:48: execution error: An error of type -10810 has occurred. (-10810)

    at ChildProcess.<anonymous> (/Applications/Soundsync.app/Contents/Resources/app/node_modules/applescript/lib/applescript.js:49:13)
    at ChildProcess.emit (events.js:203:13)
    at ChildProcess.EventEmitter.emit (domain.js:476:20)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:272:12)

[2020-07-27 14:39] geekuillaume commented on #4
@rosh324 I've changed a lot of stuff recently and fixed also a lot of bugs. Can you try again with the last version (v0.2.4)?

[2020-07-27 14:40] geekuillaume commented on #17
@airdrummingfool I've changed a lot of things recently and I can't reproduce your error. Can you try again with the last version (v0.2.4)?

[2020-07-27 18:41] airdrummingfool commented on #17
This appears to be fixed in 0.2.4. Thanks!

[2020-07-27 18:44] airdrummingfool commented on #17
I take that back - 10 seconds after I closed this issue, it happened again lol. I was trying to link the Built-in Input of the mini to the Built-in Output of the 2012 MacBook Pro, and the app crashed with the range error on the mini.

[2020-07-28 13:14] #18 closed

[2020-07-28 13:17] geekuillaume commented on #18
@talastairb thanks for the error report. This seems to be related to the autostart feature. The 10810 error is hard to debug and seems random. I've added code to ignore this error if it happens, the autostart feature won't work if your computer raise this error but everything else will. Can you try again with the last development version? Feel free to reopen the issue if you still have a problem.

[2020-07-28 13:35] #17 closed

[2020-07-28 13:36] geekuillaume commented on #17
@airdrummingfool I've managed to reproduce the error on my setup and found the problem. Can you test with the latest dev build? If this still happens, feel free to reopen this issue.

[2020-07-30 01:11] airdrummingfool commented on #17
@geekuillaume Will do, but I'm a bit confused on where to get the latest dev build - v0.2.4 doesn't include the fix, and the releases from the (Bleeding Edge tag)[https://github.com/geekuillaume/soundsync/releases/tag/bleeding-edge] seems to not have been updated since July 21st. Can you point me in the right direction?

[2020-07-30 09:49] geekuillaume commented on #17
@airdrummingfool The bleeding edge tag isn't updated automatically but is used to host the last build from Github actions. For macOS, the last build is "soundsync-0.2.4.dmg". I need to improve the naming for sure!

[2020-07-31 07:42] airdrummingfool commented on #17
Ah, gotcha. That's definitely confusing - the [`0.2.4` tag](https://github.com/geekuillaume/soundsync/releases/tag/v0.2.4) has a different `soundsync-0.2.4.dmg` file than the [`Bleeding edge` tag](https://github.com/geekuillaume/soundsync/releases/tag/bleeding-edge).

The new build has changed things a bit; the app no longer crashes with the error message listed in the issue title. However, the ap

[2020-08-04 02:51] NoelR2020 opened #20 "Error trying to run"
RuntimeError: abort(Error: Unknown failure). Build with -s ASSERTIONS=1 for more info.
    at process.abort (C:\Users\rasco\AppData\Local\Programs\soundsync\resources\app\node_modules\wasm-audio-resampler\app\soxr_wasm.js:320:154)
    at process.emit (events.js:228:7)
    at process.EventEmitter.emit (domain.js:475:20)
    at processPromiseRejections (internal/process/promises.js:201:33)
    at pr

[2020-08-16 10:58] totti4ever opened #21 "Controller keeps refreshing on MacOS"
It loads the available speakers and sources and then just starts over again - not usable.

I already accepted cookies and disabled ublock origin - any other Ideas?

I'm on Chrome 84

[2020-08-19 07:55] geekuillaume commented on #21
I cannot seem to reproduce this error. Can you look at Chrome Developer console and sends me what's shown?

[2020-08-19 07:56] geekuillaume commented on #20
@NoelR2020 Can you try again with the last version? I changed a lot of things that could be related

[2020-08-20 12:21] ThisIsAreku opened #25 "Application is not starting unless autoDetectAudioDevices is false"
OS: Windows 10 2004 (19041.450)
App version: soundsync-0.3.3-dev.exe

When using the default config of true, the application is stuck at `soundsync:sourcesSinksManager Detecting local audio devices`.
This line never return and halt the process
https://github.com/geekuillaume/soundsync/blob/b54c94c9d09cd1798718e4c1d34ed777ff8b7801/src/audio/audio_sources_sinks_manager.ts#L63

I was not able to catc

[2020-08-24 10:01] geekuillaume commented on #25
I fixed this with the help of @ThisIsAreku in the last version of node-audioworklet. Soundsync has been updated to use the last version. Thanks again :)

[2020-08-24 10:01] #25 closed

[2020-08-28 12:12] geekuillaume commented on #20
No response, I'm closing this. Feel free to reopen if you still experience this issue.

[2020-08-28 12:12] #20 closed

[2020-08-28 12:12] geekuillaume commented on #21
No response, I'm closing this. Feel free to reopen if you still experience this issue.

[2020-08-28 12:12] #21 closed

[2020-08-28 12:12] geekuillaume commented on #4
No response, I'm closing this. Feel free to reopen if you still experience this issue.

[2020-08-28 12:12] #4 closed

[2020-09-04 08:14] agdamsbo opened #27 "Program crashed on me at startup. MacBook Air Early 2015, macOS version 10.15.6."
TypeError [ERR_INVALID_ARG_TYPE]: The "err" argument must be of type number. Received type undefined
    at validateNumber (internal/validators.js:117:11)
    at Object.getSystemErrorName (util.js:218:3)
    at errnoException (internal/errors.js:463:21)
    at afterWriteDispatched (internal/stream_base_commons.js:149:25)
    at writevGeneric (internal/stream_base_commons.js:132:3)
    at Socket._w

[2020-09-09 08:37] geekuillaume commented on #27
I cannot reproduce this. Can you try with the last version (v0.3.9)? What were you doing when it crashed?

[2020-09-14 22:27] ThisIsAreku opened #32 "Fatal error on windows"
Platform: Windows 10
Version: 0.3.10

~~It occurs only when using 192kHz devices, not in other modes~~
EDIT: it's whenever i link an hardware input or output

[code]

[2020-09-22 15:13] geekuillaume commented on #32
This has been fixed in https://github.com/geekuillaume/node-audioworklet. Thanks @ThisIsAreku for your help in finding the problem!

[2020-09-22 15:13] #32 closed

[2020-09-22 15:13] geekuillaume commented on #27
No response. Closing. Feel free to reopen the issue if you still encounter this issue.

[2020-09-22 15:13] #27 closed

[2020-09-25 18:19] LostSoulfly opened #33 "Windows Audio"
The main website says:
`On Windows and Linux, Soundsync capture the sound emitted from your computer in any program`

but I'm only able to use line-in audio/microphones. How do I use a different Windows audio source?

I just downloaded the newest version from the website.

![image](https://user-images.githubusercontent.com/9120519/94302924-05949b80-ff3b-11ea-89d3-7ae6ada40c5d.png)

also, every tim

[2020-10-01 12:27] geekuillaume commented on #33
I've activated the loopback feature on the last version of Soundsync (v0.4.0). It was disabled previously because of bugs and I forgot to update the Readme. This new version will show every Windows audio output as a audio source in the webui. I've also fixed the refresh bug.

As everything should be good with the last version I'm closing this issue. Feel free to reopen it if you still have these p

[2020-10-01 12:27] #33 closed

[2020-10-02 19:22] LostSoulfly opened #35 "Headless install on non-Raspbian SBC"
I've been trying to figure this one out. I've installed multiple times, verified dependencies, etc.

`/opt/Soundsync/soundsync_electron: error while loading shared libraries: libX11-xcb.so.1: cannot open shared object file: No such file or directory`

This shows up in journalctl as well:
![image](https://user-images.githubusercontent.com/9120519/94961587-ecec2e80-04c2-11eb-83ec-a1b4746f4de6.png)

[2020-10-02 21:33] geekuillaume commented on #35
I have only tested Raspbian with the provided ARM package. It's possible your distribution doesn't include some packages that are included by default with Raspbian. If you already checked the deps with `sudo apt-get install -f` you can try to install the Chrome or Chromium package for your distribution. These packages have the majority of the same deps than what Electron (which Soundsync uses) req

[2020-10-03 14:57] danieljamesross opened #36 "Soundsync error on opening"
Mac OS 10.15.7

[code]

[2020-10-04 03:28] dh2di3oj2 opened #37 "i found error"
Error: You need to wait for SoxrResampler.initPromise before calling this method
    at SoxrResampler.processChunk (C:\Users\..\AppData\Local\Programs\soundsync\resources\app\node_modules\wasm-audio-resampler\app\soxr_resampler.js:66:19)
    at AirplaySink.handleAudioChunk (C:\Users\csa..nj\AppData\Local\Programs\soundsync\resources\app\audio\sinks\airplay_sink.js:54:46)
    at Minipass.AudioSink.

[2020-10-04 03:38] dh2di3oj2 opened #38 "error on install of v 4.1"
Error: Provided outputBuffer is too small: 16 < 3840
    at SoxrResampler.processChunk (C:\Users\...\AppData\Local\Programs\soundsync\resources\app\node_modules\wasm-audio-resampler\app\soxr_resampler.js:99:19)
    at C:\Users\...\AppData\Local\Programs\soundsync\resources\app\utils\audio\chunk_stream.js:237:48
    at runNextTicks (internal/process/task_queues.js:62:5)
    at processTimers (intern

[2020-10-04 12:01] geekuillaume commented on #36
I've seen these errors pops for some time and I finally found why. An error configuration on my server meant that for some requests, a 404 error message was returned. I fixed this but anyway this shouldn't crash Soundsync. I've made a change (https://github.com/geekuillaume/soundsync/commit/83fb569de81c5b1f84de436727c0113e514842ac) so that if the server is down, Soundsync will use other methods fo

[2020-10-04 12:01] #36 closed

[2020-10-05 09:11] geekuillaume commented on #37
Thanks for reporting this. I fixed it in https://github.com/geekuillaume/soundsync/commit/a7d2519aaa909e7255b9cc1f6b289e076c5b2778. I'm going to release a new version with the fix.

[2020-10-05 09:11] #37 closed

[2020-10-05 18:06] danieljamesross commented on #36
Thanks for this quick fix.

[2020-10-05 19:48] estiens opened #39 "RSTP error when trying to connect to Sonos devices as Airplay devices"
Sonos speakers show up as airplay devices once they are added, however on trying to link them, I get

`Unknown Error: Error - RSTP error on ANNOUNCE (403 - Undefined)`

[2020-10-05 19:51] geekuillaume commented on #39
I think this is related to the encrypted mode of Airplay which I haven't integrated yet. I don't have a Sonos device to test so this is just a guess. I'm going to look at how I can integrate the encrypted mode. I'll keep you posted

[2020-10-05 19:51] estiens commented on #39
(To be fair, this may just be a Sonos problem, as I believe they do not support RSTP and only support older versions of the STP protocol)

https://en.community.sonos.com/advanced-setups-229000/will-sonos-s2-support-rstp-or-newer-stp-path-costs-6841084

[2020-10-05 19:55] geekuillaume commented on #39
This link doesn't seem to be talking about the same RSTP. The error Soundsync is sending is linked to the RTSP protocol used by Airplay (https://en.wikipedia.org/wiki/Real_Time_Streaming_Protocol) but this Sonos post is pointing to the Spanning Tree Protocol used in Ethernet networks.

[2020-10-05 19:56] estiens opened #40 "SoundSync occasionally crashes with Range Error"
OS 10.15.6
MBP 2015 - 2.5GhZ Quad-Core I7
16 GB Ram

[code]

[2020-10-05 20:05] estiens commented on #39
Ah, well see, you already have a head start on me then!

[2020-10-06 15:05] geekuillaume commented on #39
I've integrated encrypted airplay streaming today. Can you try the latest dev version? (https://github.com/geekuillaume/soundsync/releases/tag/bleeding-edge)

[2020-10-06 17:10] estiens commented on #39
Yes, will check this afternoon!

[2020-10-06 22:19] estiens commented on #39
Same error here. I can /kinda/sometimes get it to work if I set the sound output of a mac to a sonos speaker and then play to that mac, but not connecting directly.

[2020-10-10 09:04] balaji-dutt opened #42 "Soundsync controller does not load in Firefox 81"
Hello,

I have installed Soundsync on a Ubuntu machine and am able to successfully access the controller in Chrome. However, when I launch the Controller URL in Firefox it hangs on the "Connecting" screen. Looking at the Console in Firefox shows the following error message:

[code]

### Version Info
- Firefox 81.0.1
- Windows 10 (v1903)

[2020-10-11 07:08] gingerlime commented on #39
Can report the same issue here, also tested with the bleeding-edge release.

[2020-10-11 07:21] gingerlime commented on #42
Also seeing CORS errors on Firefox, which causes the controller page to continuously reload. Perhaps my Firefox privacy settings are a bit more strict though? (It's set to block cross-site and social media trackers)

![Screenshot 2020-10-11 at 09 18 59](https://user-images.githubusercontent.com/524274/95672663-197b0700-0ba3-11eb-865a-d2851f5da703.png)

[2020-10-11 07:29] gingerlime opened #44 "connections to .local"
It doesn't seem to affect functionality, but I'm seeing some connections to .local addresses which fail, as well as external connections to sslip.io that fail for other reasons... Was wondering if this info is useful to report :)

![Screenshot 2020-10-11 at 09 26 27](https://user-images.githubusercontent.com/524274/95672828-192f3b80-0ba4-11eb-837b-e34c7f2f782f.png)

![Screenshot 2020-10-11 at 09 2

[2020-10-11 08:58] gingerlime opened #45 "running on raspberry pi (stretch)"
After playing around with Soundsync on my mac, I wanted to test it out on my (headless) rpi. I followed the instructions and managed to install it (using apt install -f etc). As far as I can see it's running

[code]

But on my browser (on my Mac) it cannot find it...

Not sure if it's related, but I also noticed that the `/etc/soundsync` folder wasn't created and even after manually creating it, i

[2020-10-11 11:54] gingerlime commented on #39
Hope this is used, but I found https://github.com/ejurgensen/forked-daapd/commit/a29772e8be962d1388d0403a36a94557b57334f9 which seems to solve the same issue. They report this is happening with Sonos ONE, Beam etc. I didn't dig into the actual code, but from the comment it seems like they don't actually try to encrypt/authenticate, but bypass the need to do so?

for encryption. We don't do that, b

[2020-10-11 13:40] geekuillaume commented on #39
I bought a Sonos speaker this week to test it. I was able to reproduce the problem and have been looking at foked-daapd code to understand how it works. I managed to connect successfully and send sound but it's very choppy and the sync is all over the place. It's working fine with forked-daapd so at least I have a working version to get some inspiration. I'll keep you posted once it's ready to be

[2020-10-11 13:43] geekuillaume commented on #44
The sslip.io and .local requests are two methods to initiate the WebRTC connection from a secure endpoint (https://soundsync.app) to a unsecure IP (the local IP of the Soundsync device). It need to pass a UUID to the other Soundsync instance. As it's not possible to have a certificate for a local IP address, the requests fails but they serve their purpose as the request is detected by the soundsyn

[2020-10-11 13:43] #44 closed

[2020-10-11 13:44] geekuillaume commented on #45
Can you start Soundsync directly from the command line with `/opt/Soundsync/soundsync` and send me the logs?

[2020-10-11 13:47] gingerlime commented on #45
Thank you @geekuillaume !

[code]

[2020-10-11 13:48] gingerlime commented on #44
Thanks for explaining. I appreciate it.

[2020-10-11 14:07] geekuillaume commented on #45
It seems that Debian Stretch doesn't provide a new enough version of libc. I don't know if I can compile this lib with a previous version. You can try updating to a new version of Debian to fix this.

[2020-10-11 17:37] gingerlime commented on #45
Thank you @geekuillaume ! after upgrading it seems to work 👍

[2020-10-11 17:37] #45 closed

[2020-10-11 23:17] LostSoulfly commented on #35
I've tried multiple distributions for my SBC (Rock64) and am never able to get past this same issue. Audio works in general both over HDMI and spdif, as well as through a USB DAC I have, but I can't ever get SoundSync to start. I've even tried compiling/running it with node unsuccessfully.

Any chance you could update the readme with some compiling instructions?

[2020-10-12 02:08] palitu opened #46 "RPi ZeroW Wont start: Illegal instruction"
i am running this on:
 * headless RPi ZeroW, running Raspbian GNU/Linux 10 (buster)
 * headless RPi 3, running Raspbian GNU/Linux 8 (jessie)

I get the follow error when trying to start soundsync:

RPi ZeroW:
`./soundsync: line 19: 25377 Illegal instruction     ELECTRON_RUN_AS_NODE=1 $DIR/soundsync_electron --experimental-wasm-threads $DIR/resources/app/index.js "$@"`

RPi 3:
./soundsync: line 19:

[2020-10-12 07:55] geekuillaume commented on #35
To start Soundsync manually you need NodeJS and Git installed then clone this repo `git clone https://github.com/geekuillaume/soundsync`, install the deps `npm install`, build `npm run build` than start it `npm run start`. If you still have the problem, can you send me the logs generated by this command?

[2020-10-12 11:53] delgaudm opened #47 "Error occurred after waking from sleep on MacBook Pro."
Error: read ECONNRESET
    at TLSWrap.onStreamRead (internal/stream_base_commons.js:205:27)

[2020-10-12 23:17] LostSoulfly commented on #35
Thanks for the quick rundown!

I'm getting closer, slowly but surely..

installed nodejs..
[code]
Had to manually install yarn
[code]
autoworklet errors:
[code]

And here's the tail of the log:
[code]

[2020-10-13 11:32] geekuillaume commented on #35
The install process is failing because I didn't include a Arm64 version of `audioworklet`. I've just released a new version with this arch enabled. Can you try pulling and reinstalling the deps with `yarn` ?

[2020-10-14 00:30] LostSoulfly commented on #35
It took some more work, but I got it to run!

I did another clone, installed typescript, manually installed webpack and the newest audioworklet, manually installed pulseaudio, did some other stuff..
![image](https://user-images.githubusercontent.com/9120519/95929625-6ffa6800-0d92-11eb-89bc-c277e6178f88.png)

[2020-10-15 00:29] LostSoulfly commented on #35
Finally got around to testing it and I'm not able to send any audio to or receive from it. Looks like everything is sent/received out of order and is dropped. I never hear anything.
![image](https://user-images.githubusercontent.com/9120519/96059419-f2029380-0e5b-11eb-8c8a-2c39e0316de7.png)

[2020-10-15 09:01] geekuillaume commented on #46
The illegal instruction is linked to the architecture of the RPi ZeroW (armv6). Soundsync is not compiled for this arch and Electron doesn't support it either. Supporting this would be long (as electron doesn't provide prebuild binaries) so I'm not planning on supporting it for the time being.

The segmentation fault on the RPi 3 is unexpected. I'm running Soundsync on a RPi 3 and never had this p

[2020-10-15 15:07] geekuillaume commented on #35
It seems that the audio is not processed quickly enough to be sent to the audio device in the configured latency. I've implemented some optimizations today. Can you test it with the latest commit (https://github.com/geekuillaume/soundsync/commit/bec36ff5914ad321a44c61038185e64681829076)?

[2020-10-15 22:27] LostSoulfly commented on #35
Did a `git pull` then `yarn` then `npm run build` then `npm run start`. Sound source is my Windows 10 desktop with a Ryzen 3700X. This SBC is actually faster than a Pi 3, which is why this is so strange. I've also pulled up htop to show CPU and memory usage.

![image](https://user-images.githubusercontent.com/9120519/96191836-e6be6f00-0f12-11eb-9997-daa2b4f4df7b.png)

[2020-10-17 13:57] geekuillaume commented on #35
I've found a bug related to the audio synchronization that could lead in silence. Can you again test the last commit ? Sorry for all this but I cannot reproduce the bug and it's way harder to pinpoint the source of the problem.

[2020-10-17 14:15] LostSoulfly commented on #35
Just saw the commits and new version, already on it!

On Sat, Oct 17, 2020 at 9:57 AM Guillaume Besson <notifications@github.com>
wrote:

[2020-10-17 18:17] LostSoulfly commented on #35
It works! You nailed it with that bug fix. I also tried to install the previous version from the deb package with the same x11 error, but at least I can build and run it manually.

Thanks and great work!

![image](https://user-images.githubusercontent.com/9120519/96350288-3de35180-1083-11eb-9f9e-22ac632a89b8.png)

Here's the SBC I'm using: https://www.amazon.com/Iconikal-Rockchip-Computer-Processo

[2020-10-19 09:37] geekuillaume commented on #42
The CORS errors are expected, this is a necessary hack to establish a connection between a https context (soundsync.app) and a non-https endpoint (Soundsync on the local network, local IP address: no SSL certificate). In some cases, the Webrtc constructor is blocked by browser extensions. I've added a check for this which will show a human-readable error message in this case. Can you try again?

[2020-10-19 09:38] geekuillaume commented on #40
Thanks for your bug report. I've changed a lot of things recently to this part of the code. Can you try again with the last version and tell me if you still have this bug?

[2020-10-19 09:40] geekuillaume commented on #39
Good news everyone! I've managed to make Soundsync work with Sonos speakers through Airplay. The playback is good but the synchronization is broken (~500ms drift). I'm still working on this.

@gingerlime @estiens Can you try again with the last version of Soundsync and your speakers?

[2020-10-19 09:41] geekuillaume commented on #38
I've made a lot of changes to this part of the code, can you try again with the last version?

[2020-10-19 09:41] geekuillaume commented on #35
Nice :) Does this work with electron (`yarn run start:electron`) ?

[2020-10-19 10:59] balaji-dutt commented on #42
@geekuillaume I just downloaded v0.4.4 and have some good news

- If I enable an extension that blocks WebRTC, I get the following error message:

- As @gingerlime points out, it is not enough to simply enable WebRTC. the Firefox "Enhanced Tracking Protections" option still causes the spinner to appear. I had to set "Enhanced Tracking Protection" to _off_ for the Controller page. Once I disabled t

[2020-10-19 11:08] balaji-dutt opened #48 "Missing "Web Page Output" option in Firefox 81"
I notice that when I load the Controller page in Firefox 81, my standard audio devices are visible however the "Web Page Output" option that appears with Chrome is missing in Firefox.

- **Firefox 81.0.2**:

![Screenshot_2020-10-19 Soundsync](https://user-images.githubusercontent.com/3147070/96442686-1be1fe80-123e-11eb-8e88-4900c6934877.png)

- **Chrome Version 88.0.4292.2**:

![19-10-2020 7-06-49

[2020-10-19 11:25] balaji-dutt opened #49 "Unable to add second Chromecast device to Soundsync"
I have two Chromecast devices on my network - a Google Home Mini as well as a Chromecast Audio. I was able to successfully add the Mini to the list of Speakers in Soundsync. However, whenever I try to add the Chromecast Audio to the Speaker list I see the following messages in `journalctl` logs:

[code]

Note the message `Peer is already connected`. I have actually only added the Mini so I don't k

[2020-10-19 12:07] dh2di3oj2 commented on #38
It works great now
TYSM

[2020-10-19 12:07] #38 closed

[2020-10-19 13:10] geekuillaume commented on #48
I've tested on soundsync.app with Firefox 81 and it's working properly. Can you try executing this in the developer console `typeof AudioContext === 'function'` and `typeof AudioWorkletNode === 'function'` ? Both should return true.

[2020-10-19 13:18] geekuillaume commented on #42
Good, so now we know why it wasn't working. I need to take a closer look at the Enhanced Tracking Protections from Firefox but I don't think I'll find a way to make it work with them. Connecting from a secure webpage (https) to a insecure http endpoint on the local network is still a unsolved problem. I've implemented multiple "hacks" to make it work but it's still not perfect. I'm thinking of add

[2020-10-19 17:26] LostSoulfly commented on #35
Yes, it does appear to work.

![image](https://user-images.githubusercontent.com/9120519/96490246-909d4480-120e-11eb-855f-9d497385bef3.png)

I can get you terminal access if you want to troubleshoot the deb package, just let me know.

[2020-10-19 23:05] palitu commented on #46
@geekuillaume, my bad - it is actually a RPiZeroW...

As i said previously, the PiZW gives a cheap base to build audio devices/nodes, and i would love to see these supported just as outputs, not servers.

this reduces the cost of a node from $50 to $10, which is fairly significant when you start to add a number of devices.

it would be good to see support.

cheers

[2020-10-20 02:20] balaji-dutt commented on #48
Hi @geekuillaume

`typeof AudioContext === 'function'` Returned `true` but `typeof AudioWorkletNode === 'function` returned false.

I have added special permissions to the site to Autoplay Audio and Video but that does not change the return value for `typeof AudioWorkletNode`

[2020-10-20 02:31] balaji-dutt commented on #42
One of the problems I'm seeing with AirConnect (which I believe also uses UPnP) is that the assigned port for a particular device is not consistent between reboots, i.e., if either the AirConnect service restarts or the Sonos device restarts when AirConnect re-connects, it assigns a new port for the same device. This causes a problem for SoundSync since the old port number is still in the config.

[2020-10-20 08:11] geekuillaume commented on #48
Are you running the webui from https://soundsync.app/ or from a local ip address? AudioWorkletNode requires a secure context to run (HTTPS).

[2020-10-21 02:08] balaji-dutt commented on #48
@geekuillaume Interesting! Using https://soundsync.app/controller with WebRTC disabled but Enhanced Tracking protection enabled in Firefox works - I can see the Web Page Output option. However, in Chrome even with the local IP address I can see the Web Page Output option.

Any thoughts on why local URL's work with Chrome but not Firefox? Happy to close the issue if local URL's are not officially s

[2020-10-21 03:32] balaji-dutt opened #50 "Unable to play to "local" Speakers on Windows and "remote" speaker"
Hi @geekuillaume I hope you don't feel like I'm spamming the repo with issues 😰

I'm trying to setup Soundsync so that I can hear Spotify audio on the speakers attached to the Windows PC I have the Spotify client installed on, as well as a remote Airplay speaker.

Here are the steps I followed:
1. Installed Soundsync v0.4.4 on my Windows 10 PC
2. Navigate to https://soundsync.app/controller via Ch

[2020-10-21 12:56] geekuillaume commented on #42
As the original issue is fixed (Firefox not working) I'm closing this. Feel free to reopen if you still have a problem with this.

[2020-10-21 12:56] #42 closed

[2020-10-21 13:00] geekuillaume commented on #48
I've seen some weird behaviors with Firefox and local URL, it seems like they are applying more protection when running in an HTTP context. I'm going to add a message in the "Add sink" popup when the Web page output is unavailable to make it more obvious.

[2020-10-21 13:13] geekuillaume commented on #48
Message added in https://github.com/geekuillaume/soundsync/commit/d90814536940c12de92079c4b96a89a2c3f734af. I'm closing this issue. Feel free to reopen if you have a question.

[2020-10-21 13:13] #48 closed

[2020-10-21 17:21] gingerlime commented on #39
Hey @geekuillaume looks like it's working! that's great... Although it's not really perfect. Somehow it's a bit choppy / disconnects when playing to the Sonos via Airplay. Also had a crash. Anything I should debug/test?

[2020-10-21 17:26] gingerlime commented on #42
there's a different problem now... when I open the controller via the menu, it opens localhost:6512 which then redirects to the landing page rather than the controller. If I go to http://localhost:6512/controller then it just spins forever without connecting. https://soundsync.app/controller however still works

[2020-10-22 08:31] estiens commented on #40
I have not seen it popup lately, but I will let you know if I see it again!

[2020-10-22 08:31] #40 closed

[2020-10-22 08:32] geekuillaume commented on #39
If you have a crash can you get copy/paste the error message and stacktrace here?

[2020-10-22 08:40] geekuillaume commented on #42
I've changed the default URL to http://localhost:6512/controller instead of http://localhost:6512/. What browser are you using?

[2020-10-22 08:41] gingerlime commented on #39
will do if it happens again. But the crash is the least of my concerns at the moment... basically playback isn't really usable ... it kinda works, but it's not something my family can use to listen to music. It's too unreliable. I also tried soundsync on my pi using spotify as input and the browser as output (the built-in audio output does not seem to work at all, no clue why), and got some very f

[2020-10-22 08:55] gingerlime commented on #42
Firefox

[2020-10-22 12:30] geekuillaume commented on #39
@gingerlime can you send the logs from the different devices you use?

[2020-10-22 15:16] gingerlime commented on #39
How do I get the logs on Mac?

Here's the log from my pi ... I used a spotify input to play to the browser, and also to the analog output, and after a few seconds the sound was completely distorted

[code]

[2020-10-23 13:34] geekuillaume commented on #50
Thanks for submitting this issue, do not worry you're not spamming!

I tried and I can't reproduce this problem. Can you try updating to the last version and send me the logs? You can download the logs from http://127.0.0.1:6512/debuginfo

[2020-10-23 13:36] geekuillaume commented on #39
I've added a simpler way to get the logs in the last version of Soundsync. Can you update, get the logs from http://127.0.0.1:6512/debuginfo and send them here?

[2020-10-23 18:03] estiens commented on #39
Here's one try at getting a few different sources to play on various Sonos speakers (couldn't get any sound out of them this time)

[code]

[2020-10-23 18:04] estiens opened #51 "Crash log from an attempt to quit Soundsync"
[code]

[2020-10-23 18:20] estiens opened #52 "Error log from a time when soundsync was running but the controller browser windown couldn't find it"
[code]

[2020-10-23 18:26] estiens commented on #39
And here's another one from trying to pipe my microphone to two different sonos speakers via airplay where it looks fine, but never heard anything

[code]

[2020-10-24 08:38] geekuillaume commented on #52
What browser are you using? Are you using https://soundsync.app/controller or the local webui accessible from 127.0.0.1:6512? Can you also send the browser console logs?

[2020-10-24 08:39] geekuillaume commented on #51
I can reproduce this error. I didn't spend more time for now on debugging this as this only happens when closing the app but I'll keep this issue around to remind me to fix this. Thanks!

[2020-10-24 14:01] LostSoulfly commented on #35
This needs more testing and it's probably got some redundant commands but I was able to get SoundSync running with some or all of this. I'm not sure if it will work all in one copy+paste, but it's definitely something for others to go off of when trying to run this on a headless install.

This was used on Armbian_20.08.1_Rock64_focal_legacy_4.4.213.img headless/server install.
If anyone has any in

[2020-10-25 03:58] balaji-dutt commented on #50
Hi @geekuillaume I have downloaded the latest version (0.4.7) and installed this both on my Windows 10 device and a Linux server. With this configuration, I see the following behavior:

- Spotify client on Windows 10 PC connected to Soundsync with Sink to remote speaker only, playback is on remote speaker.
- Spotify client on Windows 10 PC connected to Soundsync with Sink to Windows 10 PC speaker

[2020-10-25 21:44] estiens commented on #52
soundsync/controller on new firefox. I'll try a few browsers and send the logs

[2020-10-26 17:49] geekuillaume commented on #50
@balaji-dutt I've managed to reproduce the problem and fix it. Can you try the last version and tell me if it's good for you too?

[2020-10-31 09:12] balaji-dutt commented on #50
Hi @geekuillaume I've just downloaded v0.4.10 and installed both on my local Windows 10 PC as well as a second Ubuntu VM. The issue is kinda fixed but also not really. Here's the behavior I'm seeing:

- Run soundsync on the Ubuntu VM and navigate to soundsync.app/controller.
- The only sinks I can see are remote speaker.
- Connect a remote speakers to Spotify audio source and start playback from S

[2020-11-02 12:17] geekuillaume commented on #50
@balaji-dutt I've managed to reproduce your problem and fixed it in the last release. Can you try again with v0.4.11?

[2020-11-03 03:00] koegler opened #53 "Typos"
Great project.  Is this the right place to report typos?

On the Add a New Spotify Source window, maybe change second paragraph to the following.

"Optional.  Link account for use when not connected to your local "network.

Thanks.

[2020-11-09 01:53] Roshinator commented on #4
Hey its been a while, I just tried the latest version as of writing, 0.4.13 and wow it's a lot better. I'm definitely gonna flash this on a pi and repurpose some old speakers sometime. I played a few songs and I don't think I heard a single stutter. Keep up the good work :-).

[2020-11-09 10:44] balaji-dutt commented on #50
@geekuillaume Good news! With 0.4.13 I can confirm that the issue is fixed and I'm able to hear audio output from both local and remote speakers 🚀

[2020-11-09 10:47] balaji-dutt commented on #49
Hi @geekuillaume I'm not sure if you had a chance to look into this issue. I notice in the changelogs for 0.4.13 there is mention of faster detection for Chromecasts and some other Chromecast related fixes.

Unfortunately for me, it now seems like I simply cannot find my Chromecasts in Soundsync. The initial scan takes a bit of time but if it does not detect anything then, the next few scans seem

[2020-11-09 14:06] geekuillaume commented on #49
Hello @balaji-dutt I took a look at this issue in the last few days and implemented a lot of small fixes and improvements for Chromecast but I also discovered a Chrome bug (https://bugs.chromium.org/p/chromium/issues/detail?id=1090441&q=component%3ABlink%3EWebAudio&sort=pri) that makes the audio playback very bad with Chromecast (and linux in general). There is nothing I can do to fix this except

[2020-11-10 00:29] balaji-dutt commented on #49
@geekuillaume Ah! I've been bitten by that issue as well. When I could add a Chromecast, the playback was very choppy and laggy. I was going to file a separate issue for that but given that you are blocked on the upstream issue, I will just have to hope Google releases a fix for older Chromecast devices like the one I have 🙁

[2020-11-12 20:16] totti4ever opened #54 "Docker Image"
Hey, have you already thought about providing a docker image for easy setup on home servers? I tried a bit but ran into few problems, which should be solvable, I assume!

[code]

[2020-11-15 08:03] #50 closed

[2021-01-09 14:13] zerote000 opened #61 "Crash after waking computer from standby"
Error: setMulticastInterface EADDRNOTAVAIL
    at Socket.setMulticastInterface (dgram.js:818:11)
    at Timeout.that.update [as _onTimeout] (C:\Users\Christoffer\AppData\Local\Programs\soundsync\resources\app\node_modules\multicast-dns\index.js:141:12)
    at listOnTimeout (internal/timers.js:549:17)
    at processTimers (internal/timers.js:492:7)

[2021-01-22 11:48] Sweenu opened #64 "Feature request: API"
Just discovered this project, and it's really cool ! (C'est le feu :fire:)

My use case would be to use this with a personal assistant (Mycroft) and be able to say: "Play my music in the living room" or "Play my music everywhere". In order to do this I need to be able to communicate with soundsync through on API or at least have a CLI for soundsync that I can use in a script if I have mycroft and

[2021-01-28 21:10] geekuillaume commented on #64
Hi,
This project is currently in a sleeping state as I'm working fulltime on another project for now. I don't know when I'll be able to go back to this.

[2021-06-09 02:58] alexander-cato commented on #54
+1 For this!

[2021-10-07 19:53] p-j opened #110 "rendezvous serice crash with CERT_HAS_EXPIRED"
Hi !
Thanks for this app, I've been using it for a couple of days but recently I've encountered this error:
[code]

This instance is running on a up-to-date Ubuntu.
Once the Ubuntu is rebooted, at first I can start the service and have a Spotify Connect to send music to it, but after a while it disconnect and the stack trace above is in the log.

Let me know if you need more details or if I can do

[2021-10-09 13:11] geekuillaume commented on #110
This should be fixed with the latest version 0.4.16

[2021-11-25 14:14] EricHier commented on #110
@p-j – did you find a solution to the 100% CPU utilization problem? I just did the upgrade and it works way less reliable now.

[2021-11-26 08:57] p-j commented on #110
Unfortunately no and I haven't had much time to dig into it either.

[2021-12-07 13:39] smaimon opened #112 "Soundsync icon is missing .deb for Ubuntu/Debian"
When the app is installed the default app icon is displayed.

![Screenshot from 2021-12-07 14-38-39](https://user-images.githubusercontent.com/9210668/145039290-310a3f35-8c76-40bd-a7dc-8daa8b4218f5.png)

It could be really nice to have the beautifull Soundsync logo : https://soundsync.app/logo_only-becf419dea4f0a2a424435783ec3eb43.svg

[2021-12-12 13:01] smaimon opened #113 "Error message after Ubuntu start"
Error: You need to wait for AlacEncoder.initPromise before calling this method
    at AlacEncoder.encode (/opt/Soundsync/resources/app/utils/alac_vendor/alacEncoder.js:28:19)
    at AirplaySpeaker.pushAudioChunk (/opt/Soundsync/resources/app/utils/vendor_integrations/airplay/airplaySpeaker.js:97:26)
    at AirplaySink.handleAudioChunk (/opt/Soundsync/resources/app/audio/sinks/airplay_sink.js:52:26

[2021-12-31 08:17] rageshkrishna opened #114 "TypeError: Cannot read property 'packetSender' of undefined at AirplaySpeaker.pushAudioChunk"
This happens every time I try playing form Windows 11 to Kodi via AirPlay:

[code]

[2022-02-10 21:53] Yersi88 opened #118 "Fails to start"
Error: You need to wait for AlacEncoder.initPromise before calling this method
    at AlacEncoder.encode (C:\Users\BOSS\AppData\Local\Programs\soundsync\resources\app\utils\alac_vendor\alacEncoder.js:28:19)
    at AirplaySpeaker.pushAudioChunk (C:\Users\BOSS\AppData\Local\Programs\soundsync\resources\app\utils\vendor_integrations\airplay\airplaySpeaker.js:97:26)
    at AirplaySink.handleAudioChunk

[2022-02-11 10:36] geekuillaume commented on #118
Which Airplay device are you using?

[2022-02-11 11:06] Yersi88 commented on #118
https://www.amazon.co.uk/dp/B084R8N8KD/

This is the device, I can play music from iPad with airplay without issues.

I also tried soundsync version on raspberry pi. I get the error: RTSP on SET_PARAMETER -599. And nothing plays.

[2022-04-29 20:57] msaied56 opened #137 "Error: setMulticastInterface EADDRNOTAVAIL"
Error: setMulticastInterface EADDRNOTAVAIL
    at Socket.setMulticastInterface (dgram.js:818:11)
    at Timeout.that.update [as _onTimeout] (C:\Users\Mike\AppData\Local\Programs\soundsync\resources\app\node_modules\multicast-dns\index.js:141:12)
    at listOnTimeout (internal/timers.js:549:17)
    at processTimers (internal/timers.js:492:7)

[2022-04-29 20:58] msaied56 commented on #137
I wasnt using my computer at the time and this error occurred while it was "locked". Just submitting this bug because the "report on github" option was easy and I want to help.

Thanks,

[2022-05-16 15:55] michaeljtbrooks opened #138 "Feature: Player FM integration"
*As a:* Soundsync user

*I want to:* Be able to select podcasts from Player FM and play them on Soundsync devices

*So that I": can listen to my favourite podcasts

----

Player.FM essentially have an undocumented API (https://docs.player.fm/full/faq/#general-about-im-a-developer) where stream URLs can be resolved from. Instead of making the user play the stream in a web browser directly from Play

[2022-06-06 00:20] keybojay opened #144 "Won't scan for AirPlay devices a second time after none are found on first scan"
Soundsync says "No Airplay speakers detected, try restarting the speaker." without scanning. On first scan there were none. My Roku with Airplay is now on but it looks like Soundsync is not scanning again.

[2022-06-15 16:27] alexander-cato commented on #118
Same issue for me. Attempting to airplay to Sonos Roam

[2022-09-04 08:21] dustin-richards-was-here commented on #54
If you're still looking for a Docker container, I made one today and came across this issue! It's got a couple small quirks, but nothing huge.

https://github.com/dustin-richards-was-here/soundsync-docker

[2022-11-17 12:07] Avnsx opened #154 "Why did you remove the executable for the latest version from releases?"
Can't download the compiled version anymore

[2022-11-20 13:51] geekuillaume commented on #154
The windows executable doesn't build anymore because of an unknown bug on Github CI. The macOS executable doesn't build anymore because the Apple license I paid is expired and I don't want to spend $100 on a new one. I don't have time to maintain this project anymore and cannot support building these new executable anymore.

[2022-11-20 13:53] Avnsx commented on #154
Then turn it into a public archive

[2022-11-20 13:53] #154 closed, assigned to nobody